@model IEnumerable<Vbay.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Search Ads: @Html.TextBox("searchString")
        <input type="submit" value="Search"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Headline", "Index", new { sortOrder = ViewBag.HeadlinesortParam })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionsortParam })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam })
        </th>
        <th>
            @Html.ActionLink("Approved", "Index", new { sortOrder = ViewBag.ApprovedSortParam})
        </th>
        <th>
            @Html.ActionLink("Date Posted", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Approved == true)
    {
        <tr class="alert-success">
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.Raw(HttpUtility.HtmlDecode(item.Description))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    else
    {
        <tr class="alert-danger">
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.Raw(HttpUtility.HtmlDecode(item.Description))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

}

</table>
